<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar class="toolbar">
  <span class="mat-primary">Client Name/Logo</span>
  <mat-divider class="mat-divider" [vertical]="true"></mat-divider>
  <span class="mat-accent">Company Name/Logo</span>
  <span class="toolbar-spacer"></span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">
      Settings <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </span>
  <span>
    <button mat-button>Logout</button>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" class="side-nav" opened>
    <mat-nav-list class="side-nav-list">
    <mat-list-item *ngFor="let menu of menus" >
      <span class="{{menu.selected? 'selected-item':'not-selected-item'}}"></span>
      <span><a id="{{menu.id}} "matLine routerLink="{{menu.link}}" (click)="clickItem(menu)">{{menu.name}}</a></span>

    </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
