.searchbox {
  width: 100%;
  height: 100%;
  background-color: darkgray;
  border-width: 0px;
}
.completed {
  color: green;
}
.uncompleted {
  color: red;
}
.mat-button-toggle-group {
  background-color: transparent;
  box-shadow: none;
}
.mat-button-toggle {
  margin: 5px;
}
.mat-button-toggle-checked {
  color: white;
  background-color: black;
}
.character-filter {
  color: gray;
  background-color: transparent;
  box-shadow: none;
}
.character-filter .mat-button-toggle-checked{
  color: red;
  background-color: transparent;
}
.country-chip {
  color: red;
  background-color: transparent;
  box-shadow: none;
}
.country-chip mat-icon {
  color: black;
  transform: rotate(45deg);
}
.hide {
  display: none;
}
.half{
  width: 50%;
}
.overflow{
  overflow: scroll;
}
.overflow::-webkit-scrollbar{
  display: none;
}
.mat-table {
  display: table;
  width: 100%;
}

.mat-table > .mat-header-row, .mat-table > .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-table > .mat-header-row > .mat-header-cell,
.mat-table > .mat-row > .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  padding: 0 0.5em;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
